!!! XML
%html
  %head
    %title
      Thinking Concurrently
      - if page.title
        \: #{page.title}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/screen.css', :media => 'screen, projection'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/print.css', :media => 'print'}
    /[if lt IE 8]
      %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/ie.css', :media => 'screen, projection'}
    %link{:rel =>'alternate', :type => 'application/atom+xml', :href => 'blog.atom'}
  %body.bp.two-col
    #container
      #header
        #header_title
          %a{:href => "/"}
            Thinking Concurrently
        #header_sidebar
          the blog of Ben Browning
      #content
        ~ content
      #sidebar
        %h3 Contact
        %ul
          %li
            %a{:href => "http://github.com/bbrowning"} bbrowning
            on GitHub
          %li
            %a{:href => "http://twitter.com/bbrowning"} @bbrowning
            on Twitter
        %h3 Projects
        %ul
          %li
            %a{:href => "http://steamcannon.org"} SteamCannon
      #footer
        Copyright 2010 Ben Browning.

      = google_analytics
